
*.pyc
__pycache__/bothandler.cpython-38.pyc
__pycache__/vision.cpython-38.pyc
__pycache__/windowcapture.cpython-38.pyc
__pycache__/bothandler.cpython-38.pyc
__pycache__/bothandler.cpython-38.pyc
__pycache__/vision.cpython-38.pyc
__pycache__/windowcapture.cpython-38.pyc
temp/PyBot/BotController.py
